---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import '@fontsource-variable/onest'

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black text-white">
		<div class="fixed inset-0 -z-50 bg-black">
			<div class="absolute top-0 left-0 w-full h-[200vh] 
						bg-[radial-gradient(ellipse_80%_50%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
			</div>
		  </div>
		<Header />
		<main class="relative">  <!-- Añadir relative para contener elementos posicionados -->
		  <slot />
		</main>
		<Footer />
	  </body>
	
</html>

<style>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Onest Variable', system-ui, -apple-system, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
